*{
    box-sizing:border-box;
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
}

body{
    background-image:url('../images/lcz9nxhoslo-brooke-lark.png');
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
}
/* scroll bar */
::-webkit-scrollbar{
    background:rgb(217, 0, 17);
    width:4px;
    height:15px;
  }
  ::-webkit-scrollbar-thumb{
    background:rgb(217, 0, 17);
    height:10px;
  }
  ::-webkit-scrollbar-track{
    background:#FFCE00;
    height:10px;
  }
  /* scroll bar */
/* start logoBrand */
.brand-logo {
    padding-top:40px;
    margin-left:100px;
}

@media(max-width:991px){
    .brand-logo {
        padding-top:20px;
        margin-left:40px;
    }
    .brand-logo img{
        width:17%;
        height:17%;
    }
}
@media(max-width:550px){
    .brand-logo img{
        width:30%;
        height:30%;
    }
}
/* end logoBrand */

/* start loginForm */
.signup-page{
    background-image:url('../images/lcz9nxhoslo-brooke-lark.png');
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    background-color: #000;
}
.signup-overlay{
    background-image: url('../images/Rectangle\ 439.png');
    background-size:cover;
    background-position:center;
    width:100%;
    height:100vh;
}
.signup-form{
    padding:20px;
    margin-right:250px;
    background-color:#fff;
    width:300px;
    float:right;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius:10px;
}
.signup-form h2{
    color:#000;
    font-size:20px;
    margin-bottom:20px;
}
.signup-form .form-row{
    position:relative;
}
.signup-form form input{
    display:inline-block;
    border:none;
    padding:15px;
    outline:none;
}
.signup-form form input[placeholder="Email"],
.signup-form form input[placeholder="Password"],
.signup-form form input[placeholder="Name"],
.signup-form form input[placeholder="Confirm Password"]
{
    color:#777;
    font-size:13px;
}
.signup-form form svg{
    color:#777;
}
.signup-form form svg.eye,
.signup-form form svg.eye2{
    position:absolute;
    right:15px;
    top:18px;
    cursor:pointer;
}
.signup-form a{
    color:rgb(217, 0, 17);
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}
.signup-form a:hover{
    text-decoration:underline;
    color:rgb(217, 0, 17);
}
.signup-form button {
    width:100px;
    height:35px;
    font-size:13px;
    background-color:rgb(217, 0, 17);
    outline:none;
    border:none;
    border-radius:20px;
    color:#fff;
    font-weight:bold;
}
.signup-form button:focus{
    outline:none;   
}
.signup-form .form-group p{
    color:#555;
    font-size:13px;
    margin-top:20px;
}
.signup-form .form-group p a{
    text-decoration:none;
    font-size:12px;
    color:#000;
    font-weight:bold;
}
.signup-form .form-group span {
    padding:0px 7px;


}
.signup-form .form-group span svg{
    font-size:17px;
    cursor: pointer;
}
.signup-form .form-group span .facebook{
    color:#4267B2
}
.signup-form .form-group span .google{
    color:#DB4437
}
.signup-form .form-group span .instagram{
    color:#833AB4
}

@media(max-width:991px){
    .signup-form{
        margin-right:0px;
        float:none;
        margin:10% auto
    }
    .signup-form .form-group p a{
        font-size:13px;
    }
}
@media(max-width:520px){
    .signup-form{
        margin:10% auto
    }
}
/* end loginForm */
